<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         verbose="true">
    <testsuites>
        <testsuite name="Captcha Tests">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>